body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

/* p {
    font-size: 14px;
} */

a {
    font-size: 18px;
    color: white;
}

nav {
    color: white;    
}

.heading {
    background-image: url("../images/building.png");
}

.designed {
    font-size: 23px;
    font-weight: bold;
    color: white;
    background-image: url("../images/building.png");
}

.copyright {
    font-size: 11px;
    color: white;
    background-color: dimgray;
}
